#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  font-family: 'Poppins-Regular', sans-serif;
}




.mainContent {
  margin-top: 50px;
  margin-left: 160px;
  margin-right: 20px;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
  position: relative;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);

}

.mainContent-expanded {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
  position: relative;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.no-transition {
  transition: none !important;
}

.Productheader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Productheader hr {
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;
  width: 100%;
}

/* Mobile */
@media (max-width: 700px) {




  /* Force main content to expanded state on mobile */
  .mainContent,
  .mainContent-expanded {
    margin-left: 20px;
    margin-right: 20px;
  }

  .Productheader hr {
    border: none;
    border-top: 2px solid #ccc;

    width: 80%;
  }
}